/* .topbar {
    height: 50px;
    background: #1e1e2f;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 0 20px;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
}

.welcome-text b {
    color: #ff6b6b;
} */